{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .status.each{
    
    width: 50%;
    height: 30%;
  }
  .title{
    text-align: center;
  }
  .create-post{
    text-align: center;
  }
  
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<br>
<div class="title">
<h2>WELCOME TO THE INSTAGRAM CLONE</h2></div>
<hr>
<div class="create-post text-center">
  <a href="{% url 'create'%}"><button class="btn btn-info">create post</button> </a>
</div>
<br><br>
<div class="container">
    
    <div class="status text-center">
     {% for image in images %}
        <div class="each">
             <a href="#"><img src="{{image.image.url}}" alt=""></a>
             <p>{{image.name|truncatechars:12}}</p>
         </div>
    
         
    </div>
    
   
    <!-- <div class="posts">
     
     <div class="card ">
         <div class="card-header">
          
           <img id="card-img" src="{{image.image.url}}" alt=""> <b>{{image.name}}</b>
          
             <a class="more" href="#modalCenter" data-toggle="modal"><i class="glyphicon glyphicon-option-horizontal"></i></a> -->
             <!--modal-->
             <!-- <div class=" modal fade" id="modalCenter"     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                 <div class="  modal-dialog modal-sm">
                   <div class="modal-content">
                     
                     <a href="">unfollow</a><br><hr>
                     <a  href="#posted">go to post</a><br><hr>
                     <a href="">share</a><br><hr>
                     <a href="">copy link</a><br><hr>
                     {% if image.author ==  user.profile.name.username %}
                       <a class="del" href="#">delete</a><br><hr>
                     {% endif %}
                     <button type="button" class="btn btn-secondary text-center" data-dismiss="modal"><b>close</b> </button>
                     
                   </div>
                 </div>
               </div>
         </div> -->
         {% endfor %}
         <div class="card-body">
             <a id="posted" href="#"><img src="{{image.image.url}}" alt=""></a>
           
             
           <div class="extra">
           <div class="reactions">
               
               <a href="#comment-section"><i class="glyphicon glyphicon-comment"></i></a>
               <a href="#"><i class="glyphicon glyphicon-send"></i></a>
               <a href="#"><i class="glyphicon glyphicon-bookmark" style="float: right;"></i></a>  
             <!--likes section-->
             {% if image.likes.id.exists %}
             <form action="#" method="POST">
               {% csrf_token %}
               <button class="btn btn-danger btn-sm" type="submit" name="image_id" value="{{image.id}}"><i class="glyphicon glyphicon-heart-empty"></i></button>
             </form>
             {% else %}
             <form action="#" method="POST">
               {% csrf_token %}
               <button class="btn btn-primary btn-sm" type="submit" name="image_id" value="{{image.id}}"><i class="glyphicon glyphicon-heart-empty"></i></button>
             </form>
             {% endif %}
                   <p><b>{{ image.total_likes }} like{{image.total_likes|pluralize}}</b></p>
               
           </div>
           <p class="card-text"><b>{{image.author}}:</b> {{image.caption}}</p>
           <p class="text-muted">{{image.comments.count}} comment{{image.comments.count|pluralize}}</p>
           <div id="comment-section">
             {% for comment in image.comments.all|slice:'2' %}
               <p><b>{{comment.user.name}}</b> {{comment.comment}}</p>
           
              
           </div>
           
         
         
         <small class="text-muted">{{image.date_posted|timesince}} ago</small>
         </div>
         <div class="card-footer text-muted">
          
             <a href="#">comment</a>
          
         </div>
        
       </div>
     </div>
       {% endfor %}
    
 </div>
 
 </div>
 
 

{% endblock %}